In [ ]:
import pandas as pd

In [3]:
df = pd.read_excel('../data/Education Achievements - District 91 300825.xlsx', sheet_name="Master", skiprows=1)
df

,Club,Division,Area,Award,Date,Member,Name,Location
0,3808273,L,16,DL1,07/28/2025,67669608 - Name unavailable,PMI UK Toastmasters Club,London
1,7246774,L,27,DL1,07/21/2025,67704843 - Name unavailable,Romford Speakers,Romford
2,28676544,D,20,DL1,08/08/2025,67748266 - Name unavailable,Medidata EMEA,London
3,1053038,J,4,DL1,08/18/2025,67748592 - Name unavailable,Berkhamsted Speakers Club,Berkhamsted
4,6718778,C,5,DL1,07/28/2025,67771795 - Name unavailable,Bloomberg London Toastmasters,London
...,...,...,...,...,...,...,...,...
218,7713357,A,1,VC4,07/03/2025,"Anthony Garvey, DTM",Shilling Speakers,Online only
219,4138266,B,18,VC4,08/28/2025,"Lucy Gray, VC4",London Victorians,London
220,3105854,J,11,VC4,08/11/2025,"Roger Granville, DTM",Malvern Speakers,Worcester
221,2798330,H,55,VC5,07/18/2025,07654257 - Name unavailable,Lewes Speakers Club,Lewes
222,739066,H,37,VC5,07/24/2025,"Qaya Laycy Qorons, VC5",Tunbridge Wells Speakers Club,Tunbridge Wells

In [2]:
df = pd.read_csv('../data/Club_Performance.csv')

In [ ]:
df

In [ ]:
df.columns

In [5]:
def calc_l1_points(row):
    l1_count = min(row['Level 1s'], 4)
    return l1_count * 100

def calc_l2_points(row):
    l2_total = row['Level 2s'] + row['Add. Level 2s']
    l2_count = min(l2_total, 2)
    return l2_count * 200

def calc_l3_points(row):
    l3_count = min(row['Level 3s'], 2)
    return l3_count * 300

def calc_l4_points(row):
    return 400 if row['Level 4s, Path Completions, or DTM Awards'] >= 1 else 0

def calc_l5_points(row):
    return 500 if row['Add. Level 4s, Path Completions, or DTM award'] >= 1 else 0

def calc_cot_r1_points(row):
    return 200 if row['Off. Trained Round 1'] >= 7 else 0

def calc_cot_r2_points(row):
    return 200 if row['Off. Trained Round 2'] >= 7 else 0

In [6]:
def assign_club_group(row):
    members = row['Active Members']
    if members < 12:
        return 'Group 1'
    elif 12 <= members <= 20:
        return 'Group 2'
    elif 21 <= members <= 40:
        return 'Group 3'
    elif 41 <= members <= 100:
        return 'Group 4'
    else:
        return 'Unknown'

In [7]:
# Apply group label
df['Group'] = df.apply(assign_club_group, axis=1)

# Optional: Add Name and Description as new columns
group_meta = {
    'Group 1': {
        'Name': 'Spark Clubs',
        'Description': 'Small but full of potential, these clubs are just igniting.'
    },
    'Group 2': {
        'Name': 'Rising Stars',
        'Description': 'Gaining traction, these clubs are building energy and cohesion.'
    },
    'Group 3': {
        'Name': 'Powerhouse Clubs',
        'Description': 'Well-established, these clubs thrive on teamwork and synergy.'
    },
    'Group 4': {
        'Name': 'Pinnacle Clubs',
        'Description': 'Large, vibrant clubs at the peak of influence and activity.'
    },
    'Unknown': {
        'Name': 'Undefined',
        'Description': 'Club size not in defined range.'
    }
}

df['Group Name'] = df['Group'].map(lambda g: group_meta[g]['Name'])
df['Group Description'] = df['Group'].map(lambda g: group_meta[g]['Description'])

In [ ]:
df['L1 Points'] = df.apply(calc_l1_points, axis=1)
df['L2 Points'] = df.apply(calc_l2_points, axis=1)
df['L3 Points'] = df.apply(calc_l3_points, axis=1)
df['L4 Points'] = df.apply(calc_l4_points, axis=1)
df['L5 Points'] = df.apply(calc_l5_points, axis=1)
df['COT R1 Points'] = df.apply(calc_cot_r1_points, axis=1)
df['COT R2 Points'] = df.apply(calc_cot_r2_points, axis=1)
df['Total COT Points'] = df['COT R1 Points'] + df['COT R2 Points']

df['Total Club Points'] = df[['L1 Points', 'L2 Points', 'L3 Points', 'L4 Points', 'L5 Points', 'Total COT Points']].sum(axis=1)
df

In [ ]:
# Sort by Group and Total Club Points descending
df_sorted = df.sort_values(['Group', 'Total Club Points'], ascending=[True, False]).copy()

# Assign rank within each group
df_sorted['Group Rank'] = df_sorted.groupby('Group')['Total Club Points'].rank(
    method='dense', ascending=False
).astype(int)


top_5_by_group = df_sorted[df_sorted['Group Rank'] <= 5][[
    'Group', 'Group Name', 'Club Name', 'Active Members', 'Total Club Points', 'Group Rank'
]].reset_index(drop=True)

top_5_by_group

In [ ]:
https://drive.google.com/file/d/1-bc9u9EeHYJNE35c_NkKUusULCsNYk_3/view?usp=drive_link
https://drive.google.com/file/d/1ZdwpDABrGCmffJ8JuIqbjMKWmzTGIbA4/view?usp=drive_link
https://drive.google.com/file/d/1-bc9u9EeHYJNE35c_NkKUusULCsNYk_3/view?usp=drive_link

In [12]:
# 
gsheet_url = f"https://drive.google.com/uc?export=download&id=1-bc9u9EeHYJNE35c_NkKUusULCsNYk_3"
print(gsheet_url)

https://drive.google.com/uc?export=download&id=1-bc9u9EeHYJNE35c_NkKUusULCsNYk_3

In [13]:
import pandas as pd
df = pd.read_csv(gsheet_url)
df

,District,Division,Area,Club Number,Club Name,Club Status,CSP,Mem. Base,Active Members,Net Growth,...,"Level 4s, Path Completions, or DTM Awards","Add. Level 4s, Path Completions, or DTM award",New Members,Add. New Members,Off. Trained Round 1,Off. Trained Round 2,Mem. dues on time Oct,Mem. dues on time Apr,Off. List On Time,Club Distinguished Status
0,91,A,1.0,5774.0,Solent Speakers Club,Active,N,21.0,21.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN
1,91,A,1.0,1279299.0,Hamwic Speakers,Active,N,45.0,46.0,1.0,...,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,NaN
2,91,A,1.0,2685904.0,Spinnaker Speakers,Active,N,15.0,16.0,1.0,...,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,NaN
3,91,A,1.0,7713357.0,Shilling Speakers,Active,N,25.0,26.0,1.0,...,1.0,0.0,1.0,0.0,5.0,0.0,0.0,0.0,1.0,NaN
4,91,A,17.0,8471.0,Reading Speakers Club,Active,Y,41.0,43.0,2.0,...,1.0,1.0,2.0,0.0,3.0,0.0,1.0,0.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,91,L,56.0,4580487.0,Tottenham Speakers Club,Active,N,9.0,10.0,1.0,...,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN
178,91,L,56.0,5606419.0,Manor House Speakers,Active,N,14.0,14.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN
179,91,L,56.0,5961042.0,Winchmore Hill Speakers,Active,N,24.0,25.0,1.0,...,0.0,0.0,1.0,0.0,5.0,0.0,0.0,0.0,1.0,NaN
180,91,L,56.0,28677377.0,Delta Toastmasters,Ineligible,N,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
181,Month of Aug,As of 08/11/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df['Level 1s'].sum(), df['Level 2s'].sum()

(np.float64(72.0), np.float64(29.0))

In [18]:
import pandas as pd

def calculate_contest_points(df: pd.DataFrame) -> pd.DataFrame:
    """
    Returns one row per club with four contest scores as columns.
    Score = 100 if contest date is entered, else 0.
    """

    COL_CLUB = "Select Your Club"
    date_cols = {
        "Humorous": "Date the Humorous Speech Contest was held",
        "TableTopics": "Date the Table Topics Contest was held",
        "Evaluation": "Date the Evaluation Contest was held",
        "International": "Date the International Speech Contest was held",
    }

    # Start with club column
    scores = pd.DataFrame()
    scores["Club"] = df[COL_CLUB].unique()

    # For each contest, compute max score (so multiple submissions collapse to one score per club)
    for contest, col in date_cols.items():
        scores_contest = (
            df.groupby(COL_CLUB)[col]
              .apply(lambda x: 100 if x.notna().any() and (x.astype(str).str.strip() != "").any() else 0)
              .reset_index(name=contest)
        )
        scores = scores.merge(scores_contest, left_on="Club", right_on=COL_CLUB).drop(columns=[COL_CLUB])

    return scores

In [19]:
df_contests = pd.read_csv("../data/Organising Toastmasters Contests.csv")
df_contests

,Timestamp,Username,Select Your Club,Your Club Officer Role,Your Name(As registered with Toastmasters International),Date the Humorous Speech Contest was held,Names of participating members in Humorous Speech Contest (As Registered on Toastmasters International),"Name of contest winner and runners-up in Humorous Speech Contest (As Registered on Toastmasters International)\n\nIf you have more than one winners, Provider their names separated by comma.",Date the Table Topics Contest was held,Names of participating members in Table Topics Contest (As Registered on Toastmasters International),"Name of contest winner and runners-up in Table Topics Contest(As Registered on Toastmasters International)\n\nIf you have more than one winners, Provider their names separated by comma.",Date the Evaluation Contest was held,Names of participating members in Evaluation Contest (As Registered on Toastmasters International),"Name of contest winner and runners-up in Evaluation Contest (As Registered on Toastmasters International)\n\nIf you have more than one winners, Provider their names separated by comma.",Date the International Speech Contest was held,Names of participating members in International Speech Contest (As Registered on Toastmasters International),"Name of contest winner and runners-up in International Speech Contest (As Registered on Toastmasters International)\n\nIf you have more than one winners, Provider their names separated by comma.","Any notable feedback, highlights, or success stories from the contests",Challenges faced or lessons learned during the contest process
0,2025/09/04 12:35:52 PM GMT+1,elangorj@gmail.com,City of London Toastmasters Club ---- 2027,Vice President Education,Elango,02/09/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025/09/04 12:35:52 PM GMT+1,elangorj@gmail.com,City of London Toastmasters Club ---- 2027,Vice President Education,Elango,NaN,NaN,NaN,NaN,NaN,NaN,02/09/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025/09/04 12:35:52 PM GMT+1,elangorj@gmail.com,City of London Toastmasters Club ---- 2027,Vice President Education,Elango,02/09/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,abc,NaN,NaN,NaN,NaN,NaN,02/09/2025,NaN,NaN,NaN,NaN,NaN,02/09/2025,NaN,NaN,NaN,NaN
4,NaN,NaN,abc,NaN,NaN,NaN,NaN,NaN,02/09/2025,NaN,NaN,NaN,NaN,NaN,02/09/2025,NaN,NaN,NaN,NaN
5,NaN,NaN,abc,NaN,NaN,NaN,NaN,NaN,02/09/2025,NaN,NaN,NaN,NaN,NaN,02/09/2025,NaN,NaN,NaN,NaN

In [20]:
club_points = calculate_contest_points(df_contests)
club_points

,Club,Humorous,TableTopics,Evaluation,International
0,City of London Toastmasters Club ---- 2027,100,0,100,0
1,abc,0,100,0,100

In [34]:
import pandas as pd
from datetime import date

def mot_scores(df: pd.DataFrame) -> pd.DataFrame:
    COL_CLUB = "Select Your Club"
    COL_DATE = "Date the MOT session was conducted"

    # convert to datetime (dayfirst since it's dd/mm/yyyy)
    mot_dates = pd.to_datetime(df[COL_DATE], dayfirst=True, errors="coerce").dt.date

    q1_start, q1_end = date(2025, 7, 1), date(2025, 12, 31)
    q2_start, q2_end = date(2026, 1, 1), date(2026, 6, 30)

    df_out = pd.DataFrame({
        "Club": df[COL_CLUB],
        "MOT_Q1": ((mot_dates >= q1_start) & (mot_dates <= q1_end)).astype(int) * 150,
        "MOT_Q2": ((mot_dates >= q2_start) & (mot_dates <= q2_end)).astype(int) * 150
    })

    return df_out.groupby("Club", as_index=False).max()

In [37]:
df_mot = pd.read_csv("../data/Moments of Truth Submission Season 1.csv")
df_mot

,Timestamp,Username,Select Your Club,Your Club Officer Role,Your Name(As registered with Toastmasters International),Describe your mentorship programme,Date the MOT session was conducted,Summary of feedback received from members and guests,Key strengths and improvement opportunities identified,Action plans developed based on the feedback
0,2025/09/04 2:14:40 PM GMT+1,elangorj@gmail.com,City of London Toastmasters Club ---- 2027,Vice President Education,Elango,test,03/09/2025,test,test,test
1,2025/09/04 2:14:40 PM GMT+1,elangorj@gmail.com,104 London Debaters ---- 4144038,Vice President Education,Elango,test,03/09/2025,test,test,test
2,2025/09/04 2:14:40 PM GMT+1,elangorj@gmail.com,104 London Debaters ---- 4144038,Vice President Education,Elango,test,03/04/2026,test,test,test

In [38]:
df_mot_scores = mot_scores(df_mot)
df_mot_scores

                                         Club  MOT_Q1  MOT_Q2
0            104 London Debaters ---- 4144038     150     150
1  City of London Toastmasters Club ---- 2027     150       0

In [39]:
import pandas as pd

def club_success_plan_scores(df: pd.DataFrame) -> pd.DataFrame:
    """
    Returns Club | Club_Success_Plan
    - 200 points if 'Club Success Plan Submission Date' has a valid date
    """

    COL_CLUB = "Select Your Club"
    COL_DATE = "Club Success Plan Submission Date"

    # Convert to datetime (handles dd/mm/yyyy nicely)
    plan_dates = pd.to_datetime(df[COL_DATE], dayfirst=True, errors="coerce")

    df_out = pd.DataFrame({
        "Club": df[COL_CLUB],
        "Club_Success_Plan": plan_dates.notna().astype(int) * 200
    })

    # One row per club (200 if any submission)
    return df_out.groupby("Club", as_index=False).max()

In [40]:
df_club_success = pd.read_csv("../data/Club Success Plan Completion.csv")
df_club_success

,Timestamp,Username,Select Your Club,Your Club Officer Role,Your Name(As registered with Toastmasters International),Club Success Plan Submission Date,Key events and initiatives planned for the year
0,2025/09/04 2:07:29 PM GMT+1,elangorj@gmail.com,City of London Toastmasters Club ---- 2027,Vice President Education,Elango,03/09/2025,test
1,2025/09/04 2:07:29 PM GMT+1,elangorj@gmail.com,104 London Debaters ---- 4144038,Vice President Education,Elango,03/09/2025,test

In [41]:
df_club_success_score = club_success_plan_scores(df_club_success)
df_club_success_score

                                         Club  Club_Success_Plan
0            104 London Debaters ---- 4144038                200
1  City of London Toastmasters Club ---- 2027                200